<ion-header>
  <ion-toolbar color="ong">
    <ion-title color="light">
      Ongs
      <ion-icon name="globe-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="never"></ion-searchbar>

  <ion-item>
    <ion-label>
    <h2>Ongs para pets</h2>
    </ion-label>
  </ion-item>
  <br>
  <img
    src="https://th.bing.com/th/id/R.d96a5e259ba3d8dee1c74eaf23421fde?rik=2Y9JBUyTEaZ9Qw&riu=http%3a%2f%2f1.bp.blogspot.com%2f-eoy0x45L0RM%2fUuKf-oV_kOI%2fAAAAAAAAGao%2fkhUOQn1eRwY%2fs1600%2ftumblr_mixqzuQQd91rtp5dvo1_500%2b-%2bCopia.gif&ehk=TdMNAjbbnfLjJ9rO%2bFgp5W31KIohJsxyioc6ymjAADs%3d&risl=&pid=ImgRaw&r=0"
    alt=""
  />
  
  <br />
  <ion-card>
  <ion-card-header>
    <ion-card-title>Pets sem fronteiras  <ion-icon name="paw-outline"></ion-icon
      ></ion-card-title>
    
    <h2>Objetivos:</h2>
    <p>
      ONG PETS SEM FRONTEIRAS possui dentre seus fins e objetivos
      institucionais o apoio, o desenvolvimento, a promoção do cuidado e
      proteção dos animais, congregando para tal, ações, programas e
      atividades que consistem em: Suporte técnico, elaboração de
      materiais e campanhas educativas de incentivo a adoção, posse
      responsável, castração e conscientização para cuidados com os
      animais;
    </p>
    <h2>Contatos:</h2>
          <p>
            <ion-icon name="mail-outline"></ion-icon> @petssemfronteiras.org.br
          </p>
          <p>
            <ion-icon name="logo-facebook"></ion-icon
            ><ion-icon name="logo-instagram"> <br /></ion-icon
            > @petssemfronteiras
            </p>
          <p><ion-icon name="logo-twitter"></ion-icon >@ONG_PetsSF</p>
  </ion-card-header>
</ion-card>

<ion-card>
<ion-card-header>
  <ion-card-title> AMPARA Animal  <ion-icon name="paw-outline"></ion-icon
    ></ion-card-title>
  
  <h2>Objetivos:</h2>
  <p>
  A AMPARA Animal não possui abrigo, mas atua de forma ativa e
  preventiva, seguindo os seguintes pilares: conscientização,
  castração e adoção. Atua, também, auxiliando ONGs e protetores
  independentes com a distribuição de alimentos, atendimentos
  veterinários e castrações.
  </p>
  <h2>Contatos:</h2>
        <p>
          <ion-icon name="mail-outline"></ion-icon> sac@petlove.com.br
        
</ion-card-header>
</ion-card>

<ion-card>
<ion-card-header>
  <ion-card-title> Associação Focinhos de Luz  <ion-icon name="paw-outline"></ion-icon
    ></ion-card-title>
  
  <h2>Objetivos:</h2>
  <p>
  objetivo de promover a defesa dos direitos dos animais; a
  conservação socioambiental; e a educação para prevenção de zoonoses.
  Atualmente, a ONG está construindo uma Casa de Passagem que dará
  atendimento de saúde e lar temporário para os 120 animais que serão
  adotados e que hoje estão sob a responsabilidade da associação. Em
  2020, a ONG conseguiu arrecadar R$ 181 mil com uma campanha de
  arrecadação de fundos para o reparo da sede da organização, após ser
  afetada por fortes chuvas no Rio de Janeiro.
  </p>
  <h2>Contatos:</h2>
        <p>
          <ion-icon name="mail-outline"></ion-icon> @focinhosdeluz.com
        
</ion-card-header>
</ion-card>

<br>
<ion-item>
<ion-label>
<h2>Ongs para famílias carentes</h2>
</ion-label>
</ion-item>
<br>
<img
src="https://th.bing.com/th/id/OIP.BfRQyXrZTXkTg8cxV1J5HQHaEA?pid=ImgDet&rs=1"
alt=""
/>
<br>
<ion-card>
<ion-card-header>
  <ion-card-title>Todos Por Um  <ion-icon name="heart-outline"></ion-icon></ion-card-title>
  
  <h2>Objetivos:</h2>
  <p>
  Somos uma organização não-governamental destinada a futuros
  empreendedores e a população carente de todo o Brasil. Com nossos
  próprios recursos, demos o start para que tudo começasse, mas
  necessitamos de muitas doações
  </p>
  <h2>Contatos:</h2>
        <p>
          <ion-icon name="mail-outline"></ion-icon> @ongtodosporum2019@gmail.com
        
</ion-card-header>
</ion-card>

<ion-card>
<ion-card-header>
  <ion-card-title>AMAES  <ion-icon name="heart-outline"></ion-icon></ion-card-title>
  
  <h2>Objetivos:</h2>
  <p>
  A AMAES é uma associação gerida por familiares de autistas que
  precisa de uma equipe multidisciplinar especializada pemanente,
  composta por fonoaudiólogos, psicólogos, terapeutas ocupacionais,
  entre outros. Nosso objetivo é oferecer melhores possibilidades para
  o desenvolvimento de nossos filhos.
  </p>
  <h2>Contatos:</h2>
        <p>
        <ion-icon name="logo-chrome"></ion-icon> amaes.org.br
</ion-card-header>
</ion-card>



<ion-card>
<ion-card-header>
  <ion-card-title>  Guerreiros do Amor  <ion-icon name="heart-outline"></ion-icon></ion-card-title>
  
  <h2>Objetivos:</h2>
  <p>
  ONG destinada a diminuir a violência em comunidades incentivando
            crianças e adolescentes a prática de capoeira, judô, entre outros
            esportes que ensinam respeito e disciplina.
  </p>
  <h2>Contatos:</h2>
        <p>
        <ion-icon name="logo-facebook"></ion-icon><ion-icon name="logo-instagram"></ion-icon>  @GUERREIROSDOAMORCG  
</ion-card-header>
</ion-card>
</ion-content>
