ion-label {
  color :rgb(97, 86, 151) ;

  h2 {
    color: rgb(64, 65, 126);
  }
  h1{
    color: rgb(255,0,0)
  }
}

ion-item{
  --background: rgb(248, 218, 85) ;
  --inner-padding-start: 0;
  --padding-start: 0; 
}