ion-list{
  --background: rgb(245, 248, 219) ;
}
ion-label{
  color: rgb(118, 121, 111)
}
ion-item{
  --background: rgb(234, 241, 166) ;
  --inner-padding-start: 0;
  --padding-start: 0; 
}
h2 {
  color: rgb(82, 88, 23);
}
